<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guia Perguntas</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>  

  <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">
      <img src="/img/guia.png" alt="">
    </a>
  </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Realizar Perguntas</h3>
      </div>
      <div class="card-body">
        <form action="">
          <label class="mt-2" for="">Título</label>
          <input class="form-control" type="text" name="" id="" placeholder="Título">
          <label class="mt-4" for="">Descrição</label>
          <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Descreva sua pergunta aqui"></textarea>
          <button class="btn btn-primary mt-2">Perguntar</button>
        </form>
      </div>
    </div>
   
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>