<%- include ("partials/header.ejs"); %>
<body>  
  <%- include ("partials/navbar.ejs"); %>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Realizar Perguntas</h3>
      </div>
      <div class="card-body">
        <form action="/salvarpergunta" method="POST">
          <label class="mt-2" for="">Título</label>
          <input class="form-control" type="text" name="" id="" placeholder="Título">
          <label class="mt-4" for="">Descrição</label>
          <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Descreva sua pergunta aqui"></textarea>
          <button class="btn btn-primary mt-2">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ("partials/footer.ejs"); %>
